[Unit]
Description=ACME cert generator for %i

[Service]
ExecStart=/usr/bin/acme-tiny --account-key $ACME_ACCOUNT_KEY --csr $ACME_CSR --acme-dir $ACME_DIR --output $ACME_CRT
EnvironmentFile=/etc/acme-tiny/%i.conf
